<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Developers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1 align="center">Developers</h1>
<div class="companies" align="center">
    <a type="button" class="btn btn-primary" href="/">Main menu</a>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-secondary"
                    th:each="requestsForDeveloper: ${requestsForDevelopers}">
                    <span th:text="${requestsForDeveloper}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="/developers/add" method="POST">
                <div class="form-group">
                    <label for="name">Add Developers</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" name="age" class="form-control" id="age" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <input type="text" name="sex" class="form-control" id="sex" placeholder="Enter sex">
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="text" name="salary" class="form-control" id="salary" placeholder="Enter salary">
                </div>


                <button type="submit" class="btn btn-primary">Add Companies</button>
            </form>
        </div>
        <div class="col">
            <form action="/developers/update" method="POST">
                <div class="form-group">
                    <label for="updateName">Update Developers</label>
                    <input type="text" name="updateId" class="form-control" id="updateId" placeholder="Enter Id">
                </div>
                <div class="form-group">
                    <label for="updateName">Name</label>
                    <input type="text" name="updateName" class="form-control" id="updateName" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="updateAge">Age</label>
                    <input type="text" name="updateAge" class="form-control" id="updateAge" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="updateSex">Sex</label>
                    <input type="text" name="updateSex" class="form-control" id="updateSex" placeholder="Enter sex">
                </div>
                <div class="form-group">
                    <label for="updateSalary">Salary</label>
                    <input type="text" name="updateSalary" class="form-control" id="updateSalary"
                           placeholder="Enter salary">
                </div>


                <button type="submit" class="btn btn-primary">Add Companies</button>
            </form>
        </div>
        <div class="col">
            <form action="/developers/delete" method="post">
                <div class="form-group">
                    <label for="deleteDevelopers">Delete Developers</label>
                    <input type="text" class="form-control" name="deleteDevelopers" id="deleteDevelopers"
                           placeholder="Enter ID">
                </div>

                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>