<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <h1 align="center">COMPANIES</h1>
    <div class="companies" align="center" >
        <a type="button" class="btn btn-primary" href="mainpage">Main menu</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-secondary" th:each="requestsForCompanie: ${requestsForCompanies}">
                            <span th:text="${requestsForCompanie}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/app/companies" method="POST">
                    <div class="form-group">
                        <label for="name">Add Companies</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="companyDescription">Company Description</label>
                        <textarea class="form-control" name="companyDescription" id="companyDescription" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Companies</button>
                </form>
            </div>
            <div class="col">
                <form action="/app/companies/update" method="post">
                    <div class="form-group">
                        <label for="update">Update Companies</label>
                        <input type="text" class="form-control" name="id" id="update" placeholder="Enter ID">
                    </div>
                    <div class="form-group">
                        <label for="updateName">Name Companies</label>
                        <input type="text" name="updateName" class="form-control" id="updateName" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="updateCompanyDescription">Company Description</label>
                        <textarea class="form-control" name="updateCompanyDescription" id="updateCompanyDescription" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col">

                <form action="/app/companies/delete" method="post">
                    <div class="form-group">
                        <label for="delete">Delete Companies</label>
                        <input type="text" class="form-control" name="id" id="delete" placeholder="Enter ID">
                    </div>

                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>





</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>