<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>

</style>
<body>
    <h1 align="center">REQUESTS</h1>

    <div class="main-menu" align="center" >
        <button>Requests For Companies</button>
        <button>Requests For Developers</button>
        <button>Requests For Projects</button>
        <button>Requests For Skills</button>
    </div>

</body>
</html>